* {
  box-sizing: border-box;
}

#headline {
  text-align: center;
  color: maroon;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

li {
  list-style-type: none;
}
.contact-summary {
  border: 2px solid lightgray;
  border-radius: 10px;
  background-color: lightskyblue;
  color: navy;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
